{# app/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% block title %}Dream Community{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/dream.css') }}" type="text/css" />
    {% endblock %}
</head>
<body>
<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Dream Community</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li> <a href="{{ path('dream_community_website_accueil') }}"><i class="icon-home icon-white"></i> Accueil</a> </li>
                        <li> <a href="{{ path('dream_community_website_membres') }}">Membres</a> </li>
                        <li> <a href="{{ path('dream_community_website_videos') }}">Vidéos</a> </li>
                        <!--<li> <a href="{{ path('dream_community_website_forum') }}">Forum</a> </li>-->
                        <li> <a href="{{ path('dream_community_website_contacts') }}">Contacts</a> </li>
                        <li> <a href="{{ path('dream_community_website_liens') }}">Liens</a> </li>
                    </ul>
                    <form class="navbar-search pull-right" action="">
                        <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row-fluid" style="margin-top:5px;">
            <div id="menu" class="span2 menu-area">
                {{ render(controller("DreamCommunityWebsiteBundle:Website:menu", {'nb': 3})) }}
            </div>
            <div id="content" class="span10 content-area">
                <div class="row-fluid">
                    <div class="span12">
                        <h2>{% block dream_page_title %}{% endblock %}</h2>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        {% block dream_contenu %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="push"><!--//--></div>
    </div>
</div>
<footer>
    <div class="container">
        <p class="muted credit">Tous droits réservés</p>
    </div>
</footer>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
    <script type="text/javascript">
        var x = $(location).attr('href').replace('http://localhost:8000' , ""); // Step 1
        $('a[href="' + x + '"]').parent().addClass('active');
    </script>
{% endblock %}

</body>
</html>