{% extends "::layout.html.twig" %}

{% block title %}
    Membres - {{ parent() }}
{% endblock %}

{% block dream_page_title %}
Les Membres de Dream Community
{% endblock %}

{% block dream_contenu %}
    {% for membre in membres %}
        <div style="float:left;margin:10px;">
            <a href="{{ path('dream_community_website_membre', {'id': membre.id}) }}">
                <h3>{{ membre.nom }}</h3>
                {% if "http" in membre.image %}
                    <img src="{{ membre.image }}" style="border:1px solid #000; width:100px;" />
                {% else %}
                    <img src="{{ asset('img/uploads/users/' ~ membre.image) }}" style="border:1px solid #000; width:100px;"/>
                {% endif %}
            </a>
        </div>
    {% endfor %}
{% endblock %}