{% extends "DreamCommunityWebsiteBundle::layout.html.twig" %}

{% block title %}
    Membre - {{ membre.nom }} - {{ parent() }}
{% endblock %}

{% block dream_page_title %}
{{ membre.nom }}
{% endblock %}

{% block dream_contenu %}
        <div class="row-fluid">
            <div class="span12">
                {% if "http" in membre.image %}
                    <img src="{{ membre.image }}" class="left"/>
                {% else %}
                    <img src="{{ asset('img/uploads/users/' ~ membre.image) }}" class="left"/>
                {% endif %}
                {{ membre.description }}
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                Liens :
                {% if membre.urlYoutube is not null %}<a href="{{ membre.urlYoutube }}"><img src="{{ asset('img/youtube.png') }}" /></a>&nbsp;{% endif %}
                {% if membre.urlTwitter is not null %}<a href="{{ membre.urlTwitter }}"><img src="{{ asset('img/twitter.png') }}" /></a>&nbsp;{% endif %}
                {% if membre.urlFacebook is not null %}<a href="{{ membre.urlFacebook }}"><img src="{{ asset('img/facebook.png') }}" /></a>&nbsp;{% endif %}
                {% if membre.urlOther is not null %}<a href="{{ membre.urlOther }}"><img src="{{ asset('img/www.png') }}" /></a>&nbsp;{% endif %}
            </div>
        </div>
{% endblock %}