{% extends "DreamCommunityWebsiteBundle::layout.html.twig" %}

{% block title %}
    Vidéos - {{ parent() }}
{% endblock %}

{% block dream_page_title %}
Les Vidéos des Membres
{% endblock %}

{% block dream_contenu %}
    {% for video in liste_videos %}
        <div style="float:left;margin:10px;">
            <a href="{{ path('dream_community_website_video', {'id': "1"}) }}">
                <span style="font-size:12px;">{{ video.titre }}</span> <span style="font-size:10px;margin-top:-10px;">Par {{ video.user.nom }}.</span><br>
                <img src="{{ video.miniature }}" style="height:180px;width:320px;border:1px solid #000;">
            </a>
        </div>
    {% endfor %}
{% endblock %}